---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HolaJugador from "../components/HolaJugador";
---

<Layout title="Pepsi Quiz Game">
    <Header title="Quiez Game - Registro" />
    <main class="md:w-1/2 sm:w-full min-h-[500px] mt-24 m-auto flex flex-col justify-start items-center">
        <div class="w-4/5"> 
            <HolaJugador client:load />
            <a href="./game" class="w-full block text-center bg-gradient-to-r from-yellow-300 to-orange-500 text-2xl font-bold text-slate-900 py-3 mt-6 rounded-lg shadow-xl active:bg-gradient-to-l active:from-blue-700 active:to-sky-500">Comenzar Juego</a>
        </div>
    </main>
</Layout>


<style>


</style>
