---
import Layout from '../layouts/Layout.astro';
import Boton from '../components/Boton.astro'

const direccion = import.meta.env.TURSO_DB_URL
const merda = import.meta.env.TURSO_DB_AUTH_TOKEN


---

<Layout title="Pepsi Quiz Game">
	<main class="md:w-1/2 sm:w-full pt-40  m-auto  flex flex-col justify-between items-center">
		<div class="min-h-[500px]  flex flex-col justify-between items-center">
			<div class="text-center">
				<img src="https://logoquiz.net/logo.png" alt="Logo del juego de Quiz de LOGO">
				<h1 class="text-yellow-400 font-bold text-3xl mt-2">Welcome to the <span>Trivia Game</span></h1>
				<p>{direccion}</p>
				<h6>
					{merda}
				</h6>
			</div>
	
			<Boton text="Hola soy un boton" url="#" class="bg-yellow-500" />
		</div>
	</main>
</Layout>

<style>

</style>
